<launch>
    <!-- IMU relay from serial port to sensor_msgs/Imu -->
    <node pkg="pa_gs02" type="pa_gs02_driver" name="pa_gs02_driver" output="screen" respawn="true">
      <param name="imuport" type="string" value="/dev/ttyUSB1" />
    </node>
    <!-- Publish static transform from base_footprint to imu_link -->
    <!--<node pkg="tf" type="static_transform_publisher" name="base_footprint_to_imu_link" args="0 0 0 0 0 3.141592654  /my_base_link /imu_link  100"/>-->
</launch>
